body {
	font-family: monospace;
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	margin: 0;
	padding: 0;
	text-align: center;
	line-height: 0;
}

.vertical-aligner {
	height: 100%;
	width: 0;
	vertical-align: middle;
	display: inline-block;
}

.counter {
	color: white;
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 20px;
	line-height: 20px;
	text-align: left;
}

.solution {
	text-align: left;
	color: red;
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-size: 20px;
	line-height: 20px;
}

.field {
	display: inline-block;
	vertical-align: middle;
	background: #111;
}

.row {
	/*display: inline-block;*/
}

.cell {
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;
	line-height: 18px;
	font-size: 16px;
	overflow: hidden;
}

.b1:after,
.b2:after,
.b3:after,
.b4:after {
	color: black;
	position: absolute;
	line-height: 14px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	width: 18px;
	height: 18px;
	top: 2px;
	left: 0;
}

.b1.current:after,
.b2.current:after,
.b3.current:after,
.b4.current:after {
	width: 16px;
	top: 1px;
}

.b1:after {
	content: "1";
}

.b2:after {
	content: "2";
}

.b3:after {
	content: "3";
}

.b4:after {
	content: "4";
}

.cell.vacuum {
	background: black;
}

.wall {
	background: white;
}

.ring {
	width: 12px;
	height: 12px;
	border-radius: 9px;
	border: 3px solid lightgray;
	margin: 1px;
}

.cell.ring.yellow {
	background: transparent;
	border: 3px solid yellow;
}

.tumbler {
	width: 6px;
	height: 6px;
	margin: 7px;
	background: #f70;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}

.cell.ball {
	width: 18px;
	height: 18px;
	border-radius: 9px;
	margin: 1px;
	background: lightblue;
	transform: initial;
	-webkit-transform: initial;
	-moz-transform: initial;
}

.ball.red {
	background: red;
}

.cell.ball.current {
	width: 16px;
	height: 16px;
	line-height: 16px;
	background: lightskyblue;
	border: 1px solid blue;
}

.ball.yellow.current {
	background: #ff0;
	border: 1px solid #cc5;
}

.pearl {
	width: 12px;
	height: 12px;
	border-radius: 6px;
	margin: 4px;
	background: lightgray;
}

.cell.yellow {
	background: yellow;
}

.ball.yellow {
	background: #ee6;
}

.right,
.left,
.down,
.up {
	width: 0;
	height: 0;
	color: black;
}

.right {
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	border-left: 20px solid red;
}

.left {
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	border-right: 20px solid red;
}

.down{
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid red;
}

.up {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid red;
}

.cell.x.spike {
	width: 14px;
	height: 14px;
	margin: 3px;
	background: red;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}

.wooden.spike.right {
	border-left-color: #c93;
}

.wooden.spike.left {
	border-right-color: #c93;
}

.wooden.spike.down {
	border-top-color: #c93;
}

.wooden.spike.up {
	border-bottom-color: #c93;
}

.rotating.spike.right {
	border-left-color: #f70;
}

.rotating.spike.left {
	border-right-color: #f70;
}

.rotating.spike.down {
	border-top-color: #f70;
}

.rotating.spike.up {
	border-bottom-color: #f70;
}

.solution .left,
.solution .right,
.solution .down,
.solution .up {
	display: inline-block;
	margin: 2px;
	position: relative;
	vertical-align: top;
}

.left span,
.right span,
.down span,
.up span {
	position: absolute;
	width: 20px;
	height: 20px;
	display: inline-block;
	top: -10px;
	left: 0;
	font-size: 16px;
}

.solution .right {
	border-left-color: white;
}

.right span {
	text-align: left;
	left: -20px;
}

.solution .left {
	border-right-color: white;
}

.left span {
	text-align: right;
}

.solution .down {
	border-top-color: white;
}

.down span {
	top: -23px;
	left: -10px;
	text-align: center;
}

.solution .up {
	border-bottom-color: white;
}

.up span {
	top: 3px;
	left: -10px;
	text-align: center;
}

.box {
	width: 16px;
	height: 16px;
	margin: 2px;
	border-radius: 2px;
	background: #c93;
}

.bush {
	width: 8px;
	height: 8px;
	margin: 6px;
	border-radius: 4px;
	background: darkgreen;
}

.wall.bush {
	width: 18px;
	height: 18px;
	margin: 1px;
	border-radius: 1px;
}